/* p:nth-child(5){
    color: red;
} */
/* p::first-letter{
    color: blue;
} */
.clasepadre{
    color: red;
}
*{
    font-size: 22px;
}

/* Crear una pagina  //links a partes de la pag 
// tarjetas de productos // logotipo // titulos // formulario de contacto
con submit // logo inferior izquierdo con mensaje // footer con informacion personal */